.visuallyhidden {
    border: 0;
    clip:rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
	} 

body {
  max-width: 60em;
  padding: 0 1em;
  margin: 0 auto;
  }
  
p {
  margin: auto;
  max-width: 60em;
  padding: 0 1em;
  font-size:1em;
  }

  
.full-width {
  margin-right: -1em;
  margin-left: -1em;
  }
  


header h1 {
  font: bold 2em "Trebuchet MS", sans-serif;
  margin-top: 2%;
  margin-bottom: .35em;
  }
  
 h1 {
	  font: bold 2em "Trebuchet MS", sans-serif;
	}

h2{
  font: bold 1.7em "Trebuchet MS", sans-serif;
	}

	
h3{
	font: bold 1.5em "Trebuchet MS", sans-serif;
	}
	
h4 {
	font: bold 1.3em "Trebuchet MS", sans-serif;
	}

img{
	max-width:100%;
	height:auto;
	vertical-align:middle;
 	}
 	
 	figure {
 	position: relative;
 	margin: 2% 0;
 	}
 
 		
figcaption {
	font-family: Verdana, "Trebuchet MS", Arial, sans-serif;
	font-size:1em;
	padding-top: 2%;
	}

section ol{
	font-family: Verdana, "Trebuchet MS", Arial, sans-serif;
	font-size: 1em;
	}
	
li{
padding-bottom: 1em;
font-size: 1em;
}

@media (min-width: 30em) {
 
 	  
  p {
  padding: 0 2em;
  font-size:1.5em;
  }
  
figure{
	position: relative;
	display: inline-block;
	width: 44%;
	margin: 2%;
	vertical-align: bottom;
	}

figcaption{
	bottom: 0;
	}
	
header h1 {
  font: bold 3em "Trebuchet MS", sans-serif;
  }
  
h1 {
	  font: bold 3em "Trebuchet MS", sans-serif;
	}

h2{
  font: bold 2.7em "Trebuchet MS", sans-serif;
	}

h3{
	font: bold 2.5em "Trebuchet MS", sans-serif;
	}
	
h4 {
	font: bold 2.3em "Trebuchet MS", sans-serif;
	}

}